.FxTradingOuterBox {
  display: inline-block !important;
  width: 100% !important;
  background: #fbd5b0 !important;
  border-radius: 4px !important;
  height: 100% !important;
  padding: 0px 13px !important;
}

.WatchListOuterBox {
  background: #e9e2dc !important;
  border-radius: 4px !important;
  display: inline-block !important;
  height: 100% !important;
  max-width: 360px !important;
  width: 100% !important;
  padding: 8px 7px !important;
}

.FxTradingLabel {
  text-align: left !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  font-family: "Roboto", sans-serif !important;
}

.WatchlistLabel {
  text-align: left !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  font-family: "Roboto", sans-serif !important;
}

.instrument-column {
  font-weight: 500;
  color: #4d4946;
}

.sectionsporBranch {
  width: 97% !important;
}

[data-rbd-droppable-id] {
  position: relative;
}

.dragging {
  position: fixed; /* This removes the dragged item from the document flow */
  pointer-events: none; /* This prevents the dragged item from affecting the layout */
}

.droppable-container {
  min-height: 150px; /* Adjust this height according to your layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Table Row Styles During Draggging  */
tr[data-rbd-placeholder-context-id] {
  height: 0px !important;
}
