.currentDealsBox {
  position: absolute;
  /* left: -40px; */
  top: 35px !important;
  background-color: #fff !important;
  border-radius: 8px;
  padding: 15px 10px;
  min-width: 230px;
  max-height: 60vh;
  font-size: 14px;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
  z-index: 1;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 10%) !important;
}
