.BuyCard {
  background-color: #096fed;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition on background and color */
}

.BuyCard p {
  font-size: 1rem;
  transition: color 0.3s ease; /* Apply transition to color */
}

.BuyCard:hover p {
  color: #000;
}

.SellCard {
  background-color: #f26522;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition on background and color */
}

.SellCard p {
  font-size: 1rem;
  transition: color 0.3s ease; /* Apply transition to color */
}

.SellCard:hover p {
  color: #000;
}

.BitCardBox {
  background: #096fed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px 3px;
  border-radius: 2px;
  width: 60px;
  cursor: pointer;
}

.OfferCardBox {
  background: #f8a041;
  color: #fff;
  padding: 2px 3px;
  border-radius: 2px;
  width: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SellandBuyCardBracnh {
  background-color: transparent;
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer !important;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition on background and color */
}

.SellandBuyCardBracnh p {
  font-size: 1rem;
  transition: color 0.3s ease; /* Apply transition to color */
}

.SellandBuyCardBracnh:hover p {
  color: #000;
}

.SellandBuyCardBracnh:hover {
  background: #ffffff !important;
}
