/* Start Publish Button Dealer Bit Button */
.publishBtn {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  position: relative !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background-color: #096fed !important;
  border-color: #096fed !important;
}
.publishBtn_active {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  position: relative !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border-color: #feac78 !important;
}
.publishBtn:hover {
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border-color: #feac78 !important;
}
/* End Publish Button Dealer Bit Button */

/* Start Clear Rates Publish Button Dealer Bit Button */
.clearRates {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  position: relative !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background: #f7f8ff !important;
  border-color: #f7f8ff !important;
  color: #000 !important;
}
.clearRates:hover {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}
/* End Clear Rates Publish Button Dealer Bit Button */

/* Start Plus Button Dealer Bit Button */
.PlusButton {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  position: relative !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background-color: #096fed !important;
  border-color: #096fed !important;
}
.PlusButton:hover {
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border-color: #feac78 !important;
}
/* End Plus Button Dealer Bit Button */

/* Start Create Tenor Button */
.createTenorBtn {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  position: relative !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background: #f7f8ff !important;
  border-color: #f7f8ff !important;
  color: #000 !important;
}
.createTenorBtn:hover {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}
/* End Create Tenor Button */

/* Start Publish Forwards Button */
.publishForwardsBtn {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  position: relative !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background-color: #096fed !important;
  border-color: #096fed !important;
}
.publishForwardsBtn_active {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  position: relative !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border-color: #feac78 !important;
}
.publishForwardsBtn:hover {
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border-color: #feac78 !important;
}
/* End Publish Forwards Button */

/* Start Publish Discounting Button */
.publishDiscounting {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  position: relative !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background-color: #096fed !important;
  border-color: #096fed !important;
}
.publishDiscounting_active {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  position: relative !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border-color: #feac78 !important;
}
.publishDiscounting:hover {
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border-color: #feac78 !important;
}
/* End Publish Discounting Button */
