.expanded-row {
  display: flex;
  justify-content: space-between;
  padding: 12px 5px;
}

.expanded-column {
  display: flex;
  flex-direction: column;
}

.first-column {
  width: 33%; /* Adjust the width to match the first column */
}

.third-column {
  text-align: right; /* Align the values to the right */
}
.mis-selectrange-form {
  margin-top: 10px;
  height: 250px !important;
  width: 100% !important;
}
.mis-style {
  height: 380px !important;
}
.export-options {
  /* position: absolute;
  top: 36px;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 5px !important;
  display: flex;
  gap: 12px; */
  display: flex !important;
  gap: 12px !important;
}
