.box-header ul.buttonClassTab.nav.nav-tabs {
  justify-content: start !important;
  padding-left: 0 !important;
  margin-top: 0.5rem !important;
}

ul.nav.nav-tabs.buttonClassTab .nav-link.active,
ul.nav.nav-tabs.buttonClassTab .nav-link.active:hover,
ul.nav.nav-tabs.buttonClassTab .nav-link.active,
ul.nav.nav-tabs.buttonClassTab .nav-link.active,
ul.nav.nav-tabs.buttonClassTab {
  margin-right: 0.5rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

ul.nav.nav-tabs.buttonClassTab .nav-link,
ul.nav.nav-tabs.buttonClassTab .nav-link:hover {
  margin-right: 0.5rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.export-class {
  position: absolute;
  inset: 0px 0px auto auto !important;
  margin: 0 !important;
  transform: translate(0px, 37px) !important;
}
