.RFQModalHeaderForwardTabCorporate {
  border: none !important;
}

.RFQModalFooterForwardTabCorporate {
  border: none !important;
}

.RFQModalFooterForwardTabCorporate {
  display: inline-block !important;
}

.DateColumnTenorForwardTabRFQModal {
  text-align: center !important;
  white-space: nowrap !important;
  background-color: #e9ecef !important;
  border: 1px solid #ced4da !important ;
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;

  display: flex !important;
  align-items: center !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  width: 100%;
  text-align: center !important;
}

.DiscountingRFQModalHeadingCorporate {
  font-size: 1.25rem !important;
  font-weight: 800 !important;
  color: #f26522 !important;
}
