.RFQModalHeaderForwardTabCorporate {
  border: none !important;
}

.RFQModalFooterForwardTabCorporate {
  border: none !important;
}

.RFQModalFooterForwardTabCorporate {
  display: inline-block !important;
}

.ForwardRFQModalHeadingCorporate {
  font-size: 1.25rem !important;
  font-weight: 800 !important;
  color: #f26522 !important;
}
.rfq-error_message {
  font-size: 12px;
  color: red;
}
