.box-header ul.buttonClassTab.nav.nav-tabs {
  justify-content: start !important;
  padding-left: 0 !important;
  margin-top: 0.5rem !important;
}

ul.nav.nav-tabs.buttonClassTab .nav-link.active,
ul.nav.nav-tabs.buttonClassTab .nav-link.active:hover,
ul.nav.nav-tabs.buttonClassTab .nav-link.active,
ul.nav.nav-tabs.buttonClassTab .nav-link.active,
ul.nav.nav-tabs.buttonClassTab {
  margin-right: 0.5rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

ul.nav.nav-tabs.buttonClassTab .nav-link,
ul.nav.nav-tabs.buttonClassTab .nav-link:hover {
  margin-right: 0.5rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.export-class {
  position: absolute;
  inset: 0px 0px auto auto !important;
  margin: 0 !important;
  transform: translate(0px, 37px) !important;
}
.data-summary-heading {
  display: flex;
  align-items: center;
}
.moreOptionsNOPExport {
  position: absolute;
  top: 10px;

  right: 15px;
  margin-bottom: 10px !important;
}
.exportOptions {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1000;
}
.exportOptionsBox {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 5px !important;
  display: flex;
  gap: 12px;
}
