.RFQ-footer-className {
  display: contents !important;
  padding: 20px 20px !important;
  border: 1px solid #000 !important;
  border-top: 1px solid #e1e1e1 !important;
}

.RFQ-header-className {
  margin: 0 !important;
  border: none !important;
  padding: 10px 30px;
  position: relative;
}

.heading-RfqModal {
  font-size: 1.25rem !important;
  font-weight: 500 !important;
  color: #f26522 !important;
  text-transform: uppercase;
  margin: 0;
}
.heading-branchCode {
  font-size: 11px !important;
  font-weight: 500 !important;

  color: #000 !important;
  margin: 0;
}

.LabelRFQTransactionModal {
  font-weight: 800 !important;
  font-size: 13px !important;
  font-family: "Roboto", sans-serif !important;
}

span.RFQGeneralReactSelectClass__indicator-separator.css-1u9des2-indicatorSeparator {
  display: none !important;
}
