/* Start Dealer Bit  Input Field  */
.DealerBitInput {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  font-weight: 600;
}
.DealerBitInput:is(:focus, :focus-visible) {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
/* End  Dealer Bit  Input Field */

/* Start Dealer Table Bit Input Field */
.DealerTableBitInput {
  width: 70px;
  font-size: 1rem;
  text-align: left;
  border-radius: 2px;
  border: 1px solid #000;
}
/* End Dealer Table Bit Input Field */

/* Start Dealer Table Ask Input Field */
.DealerTableAskInput {
  width: 70px;
  font-size: 1rem;
  text-align: left;
  border-radius: 2px;
  border: 1px solid #000;
}
/* End Dealer Table Ask Input Field */

/* Start Dealer Discounting Current Rate Input Field */
.DealerDiscountingCurrentRateInput {
  width: 70px;
  font-size: 1rem;
  text-align: left;
  border-radius: 2px;
  border: 1px solid #000;
}
/* End Dealer Discounting Current Rate Input Field */

/* Start Dealer Discounting Previous Rate Input Field */
.DealerDiscountingPreviousRateInput {
  width: 70px;
  font-size: 1rem;
  text-align: left;
  border-radius: 2px;
  border: 1px solid #000;
}
/* End Dealer Discounting Previous Rate Input Field */

/* Start Date Picker  Input Field  */
.DatePickerField {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1em;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /* font-weight: 600; */
  z-index: 2;
}
.DatePickerField:is(:focus, :focus-visible) {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
/* End Date Picker  Input Field  */

/* Refresh Interval Value */
.RefreshInterval {
  display: block;
  width: 55px;
  height: 35px;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1em;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 5px;
}
.RefreshInterval:is(:focus, :focus-visible) {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* Start Calculator textfield  Input Field  */
.CalculatorTextfield {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: left;
  font-weight: 600;
}
.CalculatorTextfield:is(:focus, :focus-visible) {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.CalculatorTextfield-withTagInputfield {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: left;
  font-weight: 600;
}
.CalculatorTextfield-withTagInputfield:is(:focus, :focus-visible) {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
/* End  Dealer Bit  Input Field */

/* IBuySell Modal TextField Height Start*/

.IBuyISellModalTextFileds {
  height: 30px !important;
  width: 100% !important;
}
/* IBuySell Modal TextField Height End*/

.IBuyISellModalTextFileds {
  font-size: 14px !important;
  font-weight: 600 !important;
}

/* Start Date Picker for NOP Modal  Input Field  */
.DatePickerField-NOP {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1em;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /* font-weight: 600; */
}
.DatePickerField-NOP:is(:focus, :focus-visible) {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  z-index: 999 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* End Date Picker for NOP Modal  Input Field  */
